<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>web_app_home</title>
  <style>
    body { font-family: 'Verdana', sans-serif; background-color: #fff; color: #333; margin: 0; }
    .navbar { background-color: #0066cc; padding: 1rem; }
    .navbar a { color: #fff; margin-right: 15px; text-decoration: none; }
    main { padding: 3rem; }
  </style>
</head>
<body>
  <div class="navbar">
    <a href="{% url 'overview' %}">Overview</a>
    <a href="{% url 'learning' %}">Learning</a>
  </div>
  
</body>
</html>
